<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Pantry</h1>
    <a href="/users/<%= user._id %>/foods/new">Add New Item</a>
    <% if (pantrys.length > 0) { %>
        <% pantrys.forEach((food) => { %>
            <a href="/users/<%= user._id %>/foods/<%= food._id %>">
                <li><%= food.name %></li>
            </a>
        <% }); %>
    <% } else { %>
        <p>There are no items in this pantry.</p>
    <% } %>
  </body>
</html>
